@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #FCFDFF;
}
p {
    margin: 0;
}
h1, h2, h3 {
    font-weight: 600;
    margin: 0;
}
a {
    text-decoration: none;
}
td, th {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}


/* home page */
.widget-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.widget-home .widget {
    width: 230px;
}


/* puzzle page */
.widget-puzzle {
    height: 940px;
}
.widget-puzzle-info, #myBoard {
    width: 400px;
}
.btn-session-desktop {
    display: none;
}


/* theme page */
.btn-theme {
    padding: 0.75rem 2rem;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    width: 350px;
    color: black;
}
.btn-theme:hover {
    background-color: #2E75DB;
    color: white;
}
.theme-icon {
    width: 50px;
}
.f-size {
    font-size: 1.17em;
}

@media all and (min-width: 1050px) {
    .widget-home {
        flex-direction: row;
        justify-content: center;
    }

    .widget-puzzle-info, #myBoard {
        width: 500px;
    }
}

@media all and (min-width: 1200px) {
    .widget-home {
        flex-direction: row;
        justify-content: center;
    }

    #myBoard {
        width: 600px;
    }

    .widget-puzzle-info {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #feedbackZone {
        margin-top: auto;
    }

    .btn-small {
        display: none;
    }
    .widget-puzzle {
        display: flex;
        height: initial;
        gap: 20px;
    }
    .btn-session-desktop {
        display: initial;
    }
}