@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #FCFDFF;
}
p {
    margin: 0;
}
h1, h2, h3 {
    font-weight: 600;
    margin: 0;
}
a {
    text-decoration: none;
}

/* home page */
.widget-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.widget-home .widget {
    width: 230px;
}


/* puzzle page */
.widget-puzzle {
    height: 940px;
}
.widget-puzzle-info, #myBoard {
    width: 400px;
}


/* theme page */
.btn-theme {
    padding: 0.75rem 2rem;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    width: 500px;
    color: black;
}

.theme-icon {
    width: 50px;
}

@media all and (min-width: 1050px) {
    .widget-home {
        flex-direction: row;
        justify-content: center;
    }

    .widget-puzzle-info, #myBoard {
        width: 500px;
    }
}

@media all and (min-width: 1200px) {
    .widget-home {
        flex-direction: row;
        justify-content: center;
    }

    .widget-puzzle-info, #myBoard {
        width: 600px;
    }
}