@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* @import "_utility.css";
@import "_components.css"; */

body {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    /* min-height: 100vh; */
    background-color: #fafafa;
}


nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 10px;
}
a {
    text-decoration: none;
}
h1, h2 {
    text-align: center;
}
.grid2{
    width: 270px;
}
.btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.d-flex {
    display: flex;
}
.g-20 {
    gap: 20px;
}
.t-align-center {
    text-align: center;
}
.j-content-center {
    justify-content: center;
}