/* MARGIN PADDING */
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-80 {
    margin-top: 80px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-80 {
    margin-bottom: 80px;
}

/* FLEXBOX */
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: end;
}
.items-start {
    align-items: start;
}
.items-center {
    align-items: center;
}
.gap-20 {
    gap: 20px;
}

/* BUTTON */
.btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    line-height: 2.5;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn-small {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 2.5;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background-color: #2E75DB;
    border-color: #2E75DB;
}

.btn-primary:hover {
    background-color: #2763BA;
    border-color: #2763BA;
}

.btn-secondary {
    color: #fff;
    background-color: #43AA83;
    border-color: #43AA83;
}

.btn-secondary:hover {
    background-color: #3B9674;
    border-color: #3B9674;
}

.btn-tertiary {
    color: #fff;
    background-color: #A5ADB4;
    border-color: #A5ADB4;
}

.btn-tertiary:hover {
    background-color: #888E94;
    border-color: #888E94;
}

.btn-danger {
    color: #fff;
    background-color: #F44336;
    border-color: #F44336;
}

.btn-danger:hover {
    background-color: #CF392E;
    border-color: #CF392E;
}


.t-align-center {
    text-align: center;
}
.t-align-end {
    text-align: end;
}
.font-weight {
    font-weight: 600;
}
.widget {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    padding: 40px;
}
  